:root {
  --main-color: #A6D2D7;
  --accent-color: #9BCAC8;
  --success-color: #B6D89B;
  --gradiant-color: linear-gradient(to right, #A6D2D7, #9BCAC8, #B6D89B);
}

* {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    padding-left: 80px;
    padding-right: 80px;
    font-family: "Noto Sans Arabic" ;
    font-weight: 400;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:44px ;
    padding-right: 44px;
    margin-bottom:20px ;
    margin-top: 20px;
}
.contactlinks{
    display: flex;
    align-items: center;
    gap: 25px;
}
.insta{
    width: 22px;
    height: 22px;
}
.phone{
    display: flex;
    gap: 7px;
    align-items: center;

}
.phone p{
    font-size: 19px;
    color: var(--main-color);
}
.logo{
    width: 60px;
    height: 66px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.imgcontainer{
    width: 50%;
    height: 600px;
   
   
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 600px;
    padding: 50px;
    padding-right: 70px;
}
.product-title{
    margin-bottom:20px ;
    font-family: "Noto Sans Arabic";
    font-size: 30px;
    font-weight: 700;

}
.product-description{
    margin-bottom: 20px;
    font-family: "Noto Sans Arabic";
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
    padding: 10px ;
    text-align: right;
}
.product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    margin-bottom: 24px;
    font-family: "Noto Sans Arabic";
    font-size: 24px;
    font-weight: 700;
    border-bottom: solid 1px #0000001f;
    padding: 10px ;
  
}
.soooooom{
    font-size: 16px;
    font-weight: 400;
    color: #00000050;
}
.buy-button{
 width: 100%;
    
   height: 100%;
 background: var(--gradiant-color);
 color: #fff;
 border: none;
 border-radius: 20px;
 font-family: "Noto Sans Arabic";
 font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.product-title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
     white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
    border-bottom: solid 1px #0000001f;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 100%;
   height: 100%;
    font-size: 22px;
    border-radius: 20px;
    border: solid 2px #000000;
}
.quantity-icon{
    width: 30px;
    height: 30px;
  
}
.product-quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    
    
   
}