:root {
  --main-color: #A6D2D7;
  --accent-color: #9BCAC8;
  --success-color: #B6D89B;
  --gradiant-color: linear-gradient(to right, #A6D2D7, #9BCAC8, #B6D89B);
}

* {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}



body{
    padding-left: 80px;
    padding-right: 80px;
    font-family: "Noto Sans Arabic" ;
    font-weight: 400;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:44px ;
    padding-right: 44px;
    margin-bottom:20px ;
    margin-top: 20px;
}
nav a{
    align-items: center;
    display: flex;
    justify-content: center;
}
.contactlinks{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.insta{
    width: 22px;
    height: 22px;
    transition: all 0.3s ease;
}
.insta:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.phone{
    display: flex;
    gap: 7px;
    align-items: center;

}
.phone p{
    font-size: 19px;
   
}
.logo{
    width: 100px;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.imgcontainer{
    width: 50%;
    height: 600px;
   
   
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    width: 50%;
    height: 600px;
    padding: 50px;
    padding-right: 70px;
}
.product-title{
    margin-bottom:20px ;
    font-family: "Noto Sans Arabic";
    font-size: 30px;
    font-weight: 700;
     text-align: right;

}
.product-description{
    margin-bottom: 20px;
    font-family: "Noto Sans Arabic";
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
    padding: 10px ;
    text-align: right;
}
.product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    margin-bottom: 24px;
    font-family: "Noto Sans Arabic";
    font-size: 24px;
    font-weight: 700;
    border-bottom: solid 1px #0000001f;
    padding: 10px ;
  
}
.soooooom{
    font-size: 16px;
    font-weight: 400;
    color: #00000050;
}
.buy-button{
 width: 30%;
   height: 100%;
 background: var(--gradiant-color);
 color: #fff;
 border: none;
 border-radius: 20px;
 font-family: "Noto Sans Arabic";
 font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.product-title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
     white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
    border-bottom: solid 1px #0000001f;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 30%;
   height: 100%;
    font-size: 22px;
    border-radius: 20px;
    border: solid 2px #000000;
}
.quantity-icon{
    width: 30px;
    height: 30px;
  
}
.quantity-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.product-quantity{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    
    
   
}
.back-button {
   width: 44px;
  height: 44px;
  border:none;
  border-radius: 50%;
  background-color:white;
  border: solid 1px black;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s, color 0.3s;
  margin-bottom:30px ;
  margin-top: 30px;
  margin-left: 30px;
}

.back-button:hover {
  background: var(--gradiant-color);
    color: white;
    border: 1px solid var(--gradiant-color);
}

.skeleton {
  background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200% 100%;
  animation: loading 1.5s infinite linear;
  border-radius: 4px;
}

.skeleton.title {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
}

.skeleton.text {
  height: 20px;
  width: 80%;
  margin-bottom: 8px;
}

.skeleton.img {
  width:100%;
  height: 100%;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 1194px) {
    body{
    padding-left: 20px;
    padding-right: 20px;
   
}
}
@media (max-width: 1054px) {
  .product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 600px;
    padding: 20px;
    padding-right: 30px;
    
}
.imgcontainer{
    width: 50%;
    height: 500px;
   
   
}
}
@media (max-width: 914px) {
   .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; 
    width: 100%;
    gap: 0px;
    
}
.product-details{
    width: 100%;
    height: auto;
    padding: 20px;
    padding-right: 0px;
    margin-bottom: 30px;
}
.imgcontainer{
    width: 100%;
}

}
@media (max-width:600px) {
    nav{
   
    padding-left:20px ;
    padding-right: 20px;
   
}
.contactlinks{
    display: flex;
    align-items: center;
    gap: 25px;
}
.insta{
    width: 19px;
    height: 19px;
    transition: all 0.3s ease;
}

.phone{
    display: flex;
    gap: 7px;
    align-items: center;

}
.phone p{
    font-size: 16px;
   
}
.logo{
  width: 90px;
}
}
@media (max-width:440px) {
    #number{
    display: none;
}

    .product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.imgcontainer{
    width: 100%;
    height: 400px;
   
   
}
.product-details{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 30px;
}
    .product-quantity{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    
    
   
}
.buy-button{
    font-size:16px ;
}
}
@media (max-width: 383px) {
   .product-quantity{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    
    
   
}
.buy-button{
 width: 50%;
   height: 100%;
 background: var(--gradiant-color);
 color: #fff;
 border: none;
 border-radius: 20px;
 font-family: "Noto Sans Arabic";
 font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
}
@media (max-width: 340px) {
  nav{
    padding-left: 0px;
    padding-right: 0px;
  }
    

}
.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  direction: rtl;
}

.popup-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
 
}

.popup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  direction: rtl;
  
  margin-bottom: 12px;
}

.selected-option {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
  display: none;
  z-index: 1000;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #eee;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.submit-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background:var(--gradiant-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.cancel-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.9;
}

.cancel-button:hover {
  background-color: #eee;
}
input[type="tel"] {
  direction: rtl;
  text-align: right;
}

.toast {
  position: fixed;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #00000050;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 99999;
}

.toast.show {
  opacity: 1;
}
.copy-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #616161c7; 
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.copy-notification.show {
  opacity: 1;
}

